html {
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --color-toggle-light: #ffffff;
  --color-toggle-dark: #000;
}
body {
  background-color: #ffffff;
}

.IsLight {
  background-color: var(--color-toggle-light);
}

.IsDark {
  background-color: var(--color-toggle-dark);
}
