:root {
  --color-background-light: #ffffff;
  --color-background-dark: #121212;
}

html {
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--color-background-light);
  transition: background-color 0.3s ease;
  
}

.dark body {
  background-color: var(--color-background-dark);
  transition: background-color 0.3s ease;

}

.clip-path-circle-10 {
  clip-path: circle(10% at top right);
}

.clip-path-circle-100 {
  clip-path: circle(150% at top right);
}