@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: Staatliches;
  src: url("/Fonts/Staatliches-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SplineSansMono;
  src: url("/Fonts/SplineSansMono-Regular.ttf");
  font-weight: normal;
}
/* === Custom Fonts === */




